.search-panel {
  /*margin: 1rem 0;*/
  color: #84919e;
  margin-top: 20px;
}

.search-panel .search-input {
  width: auto;
  flex-grow: 1;
  margin-right: 3px;
  background-color: #15202b;
  color: white;
}
